{% extends 'base.html.twig' %}

{% block title %}Hello PartnerController!
{% endblock %}

{% block body %}
	<div class="container-fluid p-0">
		<img class="col-12" src="{{ asset('asset/img/bannerHome.png') }}">
		{% include "header.html.twig" %}
	</div>

	<div class="container-fluid">
		<div class="row mb-3 justify-content-center">
			<img class="col-12 col-lg-5 p-3" src="{{ asset('asset/img/place.png') }}">
			<div class="col-12 col-lg-5 p-3">
				<h1 class="text-center">Notre partenaire</h1>
				<p class="text-center">Sollicitant homines non sunt nisi quam formae rerum principiis opiniones. Mors enim est terribilis ut Socrati aliud esse apparet. Sed timor nisi nobis hoc est, in principiis nostra.
				</p>
			</div>
			<div class="col-12 col-lg-5 p-3">
				<p class="text-center">Sollicitant homines non sunt nisi quam formae rerum principiis opiniones. Mors enim est terribilis ut Socrati aliud esse apparet. Sed timor nisi nobis hoc est, in principiis nostra.
				</p>
			</div>
			<img class="col-12 col-lg-5 p-3" src="{{ asset('asset/img/place.png') }}">
		</div>
	</div>
	{% include "footer.html.twig" %}
{% endblock %}
